#!/usr/bin/make -f
# -*- makefile -*-

# export DH_VERBOSE=1

DESTDIR := $(CURDIR)/debian/murano-dashboard

%:
	dh $@ --buildsystem python_distutils --with python2

override_dh_auto_install:
	install -p -D -m 755 $(CURDIR)/debian/extras/modify-horizon-config.sh $(DESTDIR)/usr/bin
	dh_auto_install
